extends layout

block content
    .welcome
        h1 Local Business
        h3 Welcome to #{title}
        p We display local business' in the Barrie area, feel free to Add, Edit, or Delete entries.
    h5 Information provided is most likely made up.